<!DOCTYPE html>
<html>
    <head>
        <title>{{ app_name }} v{{ version }}</title>
    </head>
    <body>
        <h1>{{ page_title }}</h1>
            The year {{ year }} is a Leap Year! <br/>

            Result on {{ date }}
        {# ... #}
    </body>
</html>